<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeChef backend challenge</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body class="bg-[#6495ED]  flex justify-center items-center h-[100vh] ">
    <div class="text-center">
        <h1 class="text-4xl my-8 mb-36">Magic Picture Generator - by Ashif</h1>
        <form action="/navigate" method="GET" class="flex justify-center">
            <input type="text" name="value" placeholder="Type here to see the magic" class="mt-10 p-2 text-2xl w-full bg-[#6495ED] text-blue-900 rounded-full border-2 border-black mr-9">
            <button type="submit" class="bg-blue-500 text-white rounded p-2">Search</button>
        </form>
    </div>
</body>
</html>
